{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

        {{ form_start(userForm, {
            'attr': {
                'novalidate': 'novalidate'
            }})
        }}

        {{ form_widget(userForm) }}

        <button class="btn btn-success">Envoyer !</button>
        {{ form_end(userForm) }}

    </form>
{% endblock %}