body
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #5eb5e0;
    font-family: "Open Sans", "sans-serif";
}

footer
{
    margin: 10px;
    background-color: #529ec4;
}

header
{
    margin: 10px;
    background-color: #529ec4;
}

header>nav>div:hover
{
    background-color: #488daf;
}

header>nav>div
{
    margin: 0;
    padding: 0;
    height: 70px;
}

header>nav>div.nav-header
{
    width: 100px;
    text-align: center;
}

a
{
    color: white;
}

a:hover
{
    text-decoration: none;
    color: white;
}

.nav-header>a
{
    position: relative;
    top: 18px;
}

.message
{
    padding: 10px;
    margin: 10px 0px;
}

.message>p
{
    margin: 2px 0px;
}

#title
{
    font-size: 24px;
    position: relative;
    top: 10px;
}

#logo
{
    height: 50px;
    width: 100px;
}