{%  extends 'base.html.twig' %}

{% block content %}
    <h1>Condition générale d'utilisation</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloribus enim harum, id ipsam perspiciatis quia. Atque corporis culpa ea eius est eveniet illum iure nobis officiis repudiandae, similique temporibus!</p>


{% endblock %}

{% block title %}DemoLiquide | FAQ{% endblock %}